body {
    margin: 0%;
}

#header { 
    color:#6F04B0;
    text-align: center;
    font-size: larger;
    background-color: #F7C928;
    line-height: 130px;
}

#header img {
    position: absolute;
    width: auto;
    height: 120px;
    left: 175px;
    margin-top: 0px;
}

img {
    position: absolute;
    width: auto;
    height: 120px;
    right: 175px;
    top: 0px;
}

hr {
    margin-left: 25%;
    width: 60%;
}


h2 {
    font-size: 30px;
    margin-left: 25%;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    color: #6F04B0;
}

#btn
{
    background-color: #6F04B0;
    height: 50px;
    width: 200px;
    margin-left: 0.5%;
    margin-bottom: 20px;
    border-style: none;
    border-radius: 20px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#superhero
{
    width: 800px;
    height: 50px;
    top: 500 px;
    margin-left: 25%;
    text-indent: 2%;
    background: rgba(229, 229, 229, 0.49);
    border-radius: 20px;
    border-style: none;
}

h3 {
    margin-left: 25%;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #6F04B0;
}


#result {
    margin-left: 25%;
}

#result p {
    margin-left: 0%;
    width: 500px;
    margin-bottom: 30px;
}

footer {
    padding: 20px;
    padding-left: 40%;
    font-size: 20px;;
    color:#6F04B0;
    align-items: center;
    line-height: 50px;
    background: #F7C928;
}


